/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Border-box */

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Main CSS */

body, button {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

body {
	background-color: white;
}

#options{
	display: block;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 1em 0 ;
	text-decoration: underline;
	text-decoration-style: dotted;
}

form {
	color: #d9e3f2;
	display: block;
	padding: 5px;
	max-width: 300px;
	margin: 0 auto;
}

p, label, select, input, button {
	margin: 15px 0;
}

select {
	width: 80%;
}

.input-group {
	display: block;
	margin: 5px 0;
	font-size: 0;
}

.input-element {
	display: block;
	font-size: 0; /* percentage hack */
}

.full {
	width: 100%;
}

.half {
	display: inline-block;
	width: 50%;
}

label, span {
	font-size: 15px;
}

.range {
	display: block;
	vertical-align: middle;
	margin: 5px 0;
}

#range-label {
	display: inline-block;
	width: 10%;
}


input[type=range] {
	display: inline-block;
	width: 90%;
	margin: 0;
}

.circle {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 10px;
}

.color-label {
	font-size: 13px;
	text-align: center;
	font-family: monospace;
	width: 100%;
}

.swatch {
	width: 60px;
	float: left;
	margin-bottom: 10px;
}

#color-space {
	display: block;
	width: 300px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

/* Tablet and Desktop Views */

@media screen and (min-width:600px) {
	.circle {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}

	.swatch {
		width: 80px;
		margin-bottom: 20px;
	}

	#color-space {
		width: 500px;
		display: block;
		padding: 0 10px;

	}
}

@media screen and (min-width:800px){
	body, html, #options, #color-space {
		height: 100%;
		overflow-y: auto;
	}

	#options{
		display: block;
		float: left;
	}

	.clearfix {
		display: block;
		clear: both;
		margin: 0;
	}

	#color-space {
		width: auto;
	}
}

@media screen and (min-width:1280px){
	.circle {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}

	.swatch {
		width: 100px;
		margin: 0 15px 10px 15px;

	}
}